version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: bank_redis
    ports:
      - "6379:6379"

  api:
    build: ./api
    container_name: bank_api
    ports:
      - "3000:3000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
